[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.6"
