<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ajax Form Validator{% endblock title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% block meta_tags %}
        {% endblock meta_tags %}

        {% block extra_head %}
        {% endblock extra_head %}
    </head>

    <body>
        <div class="wrapper">
            {% block body %}
                {% include '_components/header.html' %}

            {% endblock body %}
            <div class="push"></div>
        </div>

        <script>
            (function() {
                class Initialiser {
                    constructor(selector, klass) {
                        let node = document.querySelector(`[data-widget=${selector}]`);
                        if (!node) {
                            return;
                        }

                        return new klass(node)
                    }
                }

                window.initialiser = Initialiser;
            })();
        </script>


        <footer>
            <div class="fix-bottom footer">
            <span>
                <a target="_blank" href="https://github.com/Itsindigo/django-ajax-form-validator" title="Github Django Ajax Form Validator">Interested in the code? See it here</a>
                <img src="{% static 'img/GitHub-Mark-32px.png' %}" alt="Github Logo">
            </span>
            </div>
            {% block extra_scripts %}{% endblock extra_scripts%}
        </footer>
    </body>
</html>
